<input type="email" placeholder="Email" [(ngModel)]="email">
<input type="password" placeholder="Password" [(ngModel)]="password">

<input type="button" value="register" (click)="registerWithEmailAndPassword()">
<input type="button" value="login" (click)="loginWithEmailAndPassword()">

<input type="button" value="login with google" (click)="loginWithGoogle()">

<input type="button" value="logout" (click)="logout()">

<input type="text" placeholder="Venue"  [(ngModel)]="venue">
<input type="button" value="games" (click)="createGame()">

<div>
  <div *ngFor="let game of games | async">
    <span>{{game.data.venue}}</span>
      <input type="text" placeholder="Enter payment" [(ngModel)]="payment">
      <input type="text" placeholder="Enter Name" [(ngModel)]="payer">
      <input type="button" value="confirm payment" (click)="confirmPayment(game.id)">
      <input type="button" value="x" (click)="deleteGame(game.id)">
  </div>
</div>